body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg{
    width: 400px;
}

.coming-soon
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.coming-soon-text
{
  margin-right: 30px;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 1.3rem;
  color:#4558A0;
}

  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4558A0;
    color: #4558A0;
    box-shadow: 9999px 0 0 -5px #4558A0;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }

  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4558A0;
    color: #4558A0;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #4558A0;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #4558A0;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #4558A0;
    }
    30% {
      box-shadow: 9984px 0 0 2px #4558A0;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #4558A0;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #4558A0;
    }
    30% {
      box-shadow: 9999px 0 0 2px #4558A0;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #4558A0;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #4558A0;
    }
    30% {
      box-shadow: 10014px 0 0 2px #4558A0;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #4558A0;
    }
  }
  