@keyframes bodyFade {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(100%);
  }
  100%{
    transform: scale(0%);
  }
}

.body {
  position: relative;
  height: 100%;
  display: block;
  background-color: #eee;
  box-shadow: inset 1px 1px 6px 1px rgba(100,100,100,0.29);
}

@media screen and (min-width: 768px) {
  .body {
  display: flex;
  justify-content: center;
  align-items: center;
  }
}

.bodyBlur {
  position: absolute;
  z-index: 10;
  height: calc(100% - 80px);
  width: calc(100% - 70px);
  background-color: #EEE;
  opacity: 1;
  animation: bodyFade 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.scrollingBody {
  margin-top: 28px;
  padding: 0 20px;
  height: calc(100vh - 108px);
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .scrollingBody {
    margin-top: 0px;
    height: calc(100vh - 80px);
    padding: 0 100px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #93c9e2;
    border: 1px solid #678ac6;
    box-shadow: 2px 2px 15px -2px rgba(69, 88, 160, 0.78);
    //border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #678ac6;
  }
}
