$animation-duration: 4s;
$animation-title-duration: 0.6s;

@font-face {
  font-family: "Bebas-Regular";
  src: local("Bebas-Regular"),
    url("../fonts/Bebas-Regular.ttf") format("truetype");
  font-weight: bold;
}

@keyframes leftArrowDiv-leftSide-animation {
  0% {
    transform: translateX(382%);
  }
  30% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes leftArrowDiv-leftSide-animTitle {
  0% {
    transform: translateX(0%) scale(100%);
    top: 25%;
  }
  100% {
    transform: translateX(356%) scale(50%);
    top: 0%;
  }
}

@keyframes rightArrowDiv-leftSide-animTitle {
  0% {
    transform: translateX(0%) scale(100%);
    top: 25%;
  }
  100% {
    transform: translateX(400%) scale(50%);
    top: 0%;
  }
}

@keyframes activity-leftSide-animTitle {
  0% {
    transform: scale(1) translateX(0%);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.3) translateX(-32%);
  }
}

@keyframes leftArrowDiv-rightSide-animTitle {
  0% {
    transform: translateX(0%) scale(100%);
    top: 25%;
  }
  100% {
    transform: translateX(-400%) scale(50%);
    top: 0%;
  }
}

@keyframes rightArrowDiv-rightSide-animTitle {
  0% {
    transform: translateX(0%) scale(100%);
    top: 25%;
  }
  100% {
    transform: translateX(-356%) scale(50%);
    top: 0%;
  }
}

@keyframes activity-rightSide-animTitle {
  0% {
    transform: scale(1) translateX(0%);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.3) translateX(32%);
  }
}

@keyframes rightArrowDiv-leftSide-animation {
  0% {
    opacity: 0;
    transform: translateX(178%);
  }
  30% {
    opacity: 0;
    transform: translateX(-204%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes activityDescription-leftSide-animation {
  0% {
    opacity: 0%;
    transform: translateY(-40%);
  }
  60% {
    opacity: 0%;
    transform: translateY(-40%);
  }
  80% {
    opacity: 100%;
    transform: translateY(0%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes accroche-top-animation {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes accroche-bottom-animation {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes rightArrowDiv-rightSide-animation {
  0% {
    transform: translateX(-382%);
  }
  30% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes leftArrowDiv-rightSide-animation {
  0% {
    opacity: 0;
    transform: translateX(-178%);
  }
  30% {
    opacity: 0;
    transform: translateX(204%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes activityHover {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes arrowHover {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .homeContainer {
    position: relative;
    height: calc(100% - 28px);
    top:28px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .homeContainer {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
  }
}

@keyframes logoDivTranslateY {
  0% {
    top: 25%;
  }
  30% {
    top: 12%;
  }
  100% {
    top: 12%;
  }
}

@media screen and (max-width: 767px) {
  .logoDiv {
    position: absolute;
    top: 12%;
    left: 20%;
    width: 60%;

    &-animation {
      animation: logoDivTranslateY $animation-duration;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }
}

@media screen and (min-width: 768px) {
  .logoDiv {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 20%;
  }
}

.logoImgHome {
  // margin: 20vh 0px 0px;

  user-select: none;
}

.arrow {
  user-select: none;
  width: 31%;
}
@media screen and (min-width: 768px) {
  .arrow {
    width: 7.543vw;
    position: relative;
  }
}

.leftArrow-leftSide {
  z-index: 4;
}

.rightArrow-rightSide {
  z-index: 4;
}

.arrowMask {
  display: none;
}

@media screen and (min-width: 768px) {
  .arrowMask {
    background-color: #eee;
    position: absolute;
    z-index: 3;
    top: 0%;
    height: 100%;
    width: 150%;
    &-leftSide {
      right: 50%;
    }
    &-rightSide {
      left: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .leftArrowDiv {
    position: fixed;
    left: 20%;

    img{
      position: fixed;
      left: 20%;
      width: 23.5vw;

      &.leftArrowDiv-leftSide-animation{
        transform: translateX(382%);
        animation: leftArrowDiv-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }

    &-leftSide {
      z-index: 3;
      top: 50%;

      &-animTitle {
        animation: leftArrowDiv-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(356%) scale(50%);
        top: 0%;
      }
    }

    &-rightSide {
      top: 72%;
      z-index: 1;

      &-animation {
        transform: translateX(-178%);
        animation: leftArrowDiv-rightSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: leftArrowDiv-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(-400%) scale(50%);
        top: 0%;
      }
    }
  }

  .rightArrowDiv {
    position: fixed;
    left: 56.5%;
    
    img{
      position: fixed;
      width: 23.5vw;
      
      &.rightArrowDiv-rightSide-animation{
        transform: translateX(178%);
        animation: rightArrowDiv-rightSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      
      &.rightArrowDiv-leftSide-animation{
        transform: translateX(178%);
        animation: rightArrowDiv-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }

    &-leftSide {
      top: 50%;
      z-index: 1;

      &-animation {
        transform: translateX(178%);
        animation: rightArrowDiv-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: rightArrowDiv-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(400%) scale(50%);
        top: 0%;
      }
    }
    &-rightSide {
      top: 72%;
      z-index: 3;
      &-animation {
        transform: translateX(-382%);
        animation: rightArrowDiv-rightSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: rightArrowDiv-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: translateX(-356%) scale(50%);
        top: 0%;
      }
    }
  }

  .activity {
    position: fixed;
    z-index: 1;
    height: auto;
    width: 34%;

    &Hover {
      transform: scale(100%);
      animation: activityHover 0.7s ease-in-out;
    }

    &-leftSide {
      top:54%;
      left:33vw;

      &-animTitle {
        animation: activity-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: scale(2.3) translateX(-32%);
      }
    }

    &-rightSide {
      top:76%;
      left:33vw;

      &-animTitle {
        animation: activity-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: scale(2.3) translateX(32%);
      }
    }

    span {
      display: block;
      text-align: center;
      font-family: "Bebas-Regular";
      font-size: 5vw;
      user-select: none;
    }
  }

  .activityDescription {
    background-color: yellow;
    position: fixed;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: bottom;
    user-select: none;
    height: auto;
    width: 40vw;
    span {
      display: block;
      position: relative;
      left: 0.8vw;
      font-size: 2.1vw;
      // width: 95%;
      font-weight: 600;
      &::before {
        position: absolute;
        content: "▸";
        color: #93c9e2;
        font-size: 3.6vw;
        top: -0.45em;
        left: -1.1em;
      }
    }

    &-leftSide {
      left: 30vw;
      top: 62vh;

      &-animation {
        transform: opacity(0%);
        animation: activityDescription-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
    &-rightSide {
      left: 30vw;
      top: 84vh;

      &-animation {
        transform: opacity(0%);
        animation: activityDescription-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }

  .homeButton {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .leftArrowDiv {
    position: absolute;
    top: 25%;

    &-leftSide {
      left: 10%;
      z-index: 3;

      &-animation {
        transform: translateX(382%);
        animation: leftArrowDiv-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: leftArrowDiv-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(356%) scale(50%);
        top: 0%;
      }
    }

    &-rightSide {
      right: 22.122%;
      z-index: 1;

      &-animation {
        transform: translateX(-178%);
        animation: leftArrowDiv-rightSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: leftArrowDiv-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(-400%) scale(50%);
        top: 0%;
      }
    }
  }

  .rightArrowDiv {
    position: absolute;
    top: 25%;
    &-leftSide {
      left: 22.122%;
      z-index: 1;

      &-animation {
        transform: translateX(178%);
        animation: rightArrowDiv-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: rightArrowDiv-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-Title {
        transform: translateX(400%) scale(50%);
        top: 0%;
      }
    }
    &-rightSide {
      right: 10%;
      z-index: 3;
      &-animation {
        transform: translateX(-382%);
        animation: rightArrowDiv-rightSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }

      &-animTitle {
        animation: rightArrowDiv-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: translateX(-356%) scale(50%);
        top: 0%;
      }
    }
  }

  .activity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 25%;
    height: 50%;
    width: 155%;

    &Hover {
      transform: scale(100%);
      animation: activityHover 0.7s ease-in-out;
    }

    &-leftSide {
      right: 0%;
      margin-right: 50%;

      &-animTitle {
        animation: activity-leftSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: scale(2.3) translateX(-32%);
      }
    }

    &-rightSide {
      left: 0%;
      margin-left: 50%;

      &-animTitle {
        animation: activity-rightSide-animTitle $animation-title-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
      &-Title {
        transform: scale(2.3) translateX(32%);
      }
    }

    span {
      text-align: center;
      font-family: "Bebas-Regular";
      font-size: 1.6vw;
      user-select: none;
    }
  }

  .activityDescription {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: bottom;
    user-select: none;
    top: 110%;
    height: 200%;
    width: 205%;
    span {
      display: block;
      position: relative;
      left: 0.8vw;
      font-size: 0.8vw;
      width: 95%;
      font-weight: 600;
      &::before {
        position: absolute;
        content: "▸";
        color: #93c9e2;
        font-size: 1.6vw;
        top: -0.45em;
        left: -0.8em;
      }
    }

    &-leftSide {
      right: 0%;
      margin-right: 25%;

      &-animation {
        transform: opacity(0%);
        animation: activityDescription-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
    &-rightSide {
      left: 0%;
      margin-left: 25%;

      &-animation {
        transform: opacity(0%);
        animation: activityDescription-leftSide-animation $animation-duration;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }

  .homeButton {
    margin-top: 2em;
    background-color: #4558a0;
    border-color: #4558a0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2vw;

    &:hover {
      background-color: #678ac6;
      border-color: #678ac6;
    }
  }
}

.accroche {
  position: absolute;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;

  &-top {
    bottom: 110%;

    &-animation {
      transform: opacity(0%);
      animation: accroche-top-animation $animation-duration;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }
  &-bottom {
    top: 105%;
    color: #4558a0;

    &-animation {
      transform: opacity(0%);
      animation: accroche-bottom-animation $animation-duration 1s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }

  span {
    display: block;
    font-family: "Bebas-Regular";
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 768px) {
  .accroche {
    span {
      font-size: 1.5vw;
    }
  }
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
