@font-face {
  font-family: "Bebas-Regular";
  src: local("Bebas-Regular"),
    url("../fonts/Bebas-Regular.ttf") format("truetype");
  font-weight: bold;
}

@keyframes popup {
  0% {
    transform: translateX(-550px);
  }

  75% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(-170px);
  }
}

.sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bebas-Regular";
  font-size: 2em;

  .sidebar-popup {
    display: block;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 10px 40px 10px 200px;
    text-align: right;
    transform: translateX(-550px) skewX(-45deg);
    transition: transform 1s;
    border-right: 30px solid;
    border-image: linear-gradient(to bottom, #93c9e2, #4558a0) 1 100%;

    & > span {
      display: block;
      transform: skewX(45deg);
      opacity: 0;
      transition: transform 0.4s;
      transition: opacity 0.8s;
    }
  }
}

.sidebar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-icon {
  z-index: 3;
  width: 50px;
  margin: 10px;
  filter: grayscale(0.8);
  transition: filter 0.4s;
  cursor: pointer;

  &:hover {
    filter: grayscale(0);

    & + .sidebar-popup {
      transform: translateX(-170px) skewX(-45deg);
      & > span {
        transform: skewX(45deg);
        opacity: 1;
      }
    }
  }
}

.sidebar-icon-active {
  filter: grayscale(0);
}
