.fill-window {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.main-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SidebarBodyFooter{
  flex:1;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
}

.bodyAndFooter{
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .bodyAndFooter{
    width: calc(100% - 70px);
  }
}